{% extends "view.html" %}
{%block app_content%}
<style>
    img{
        width: 61.8%;
    }
    #content{
        text-align:    center;
        align-content: center;
    }

</style>

<div id="content">
<img src="{{ url_for('video_feed') }}">

<h3>Mobilenet V2 Box Detection</h3>
<h5>This app demonstrates the MobileNetV2 Architecture. <br> You can read the paper for it <a href="https://arxiv.org/abs/1801.04381">here.</a></h5>
<form action = '/beeptoggle' method = "post" enctype = "multipart/form-data">
     <input type="submit" name="update" value="Toggle beep" id="submit"></p>
</form>
<form action = '/update_checkbox' method = "post" enctype = "multipart/form-data">
     <input type="submit" name="update" value="update" id="submit"></p>
     <input type="checkbox" onClick="toggle(this)" /> Toggle All<br/>
     {% for item in labels %}
     <h5>{{ item }} <input type="checkbox" id="{{ item }}" name="check_box" value="{{ item }}"></h5><br>
     {% endfor %}
</form>
</div>


<script language="JavaScript">
function toggle(source) {
  checkboxes = document.getElementsByName('check_box');
  for(let checkbox of checkboxes)
    checkbox.checked = source.checked;
}
</script>
{% endblock%}