{% extends "view.html" %}
{%block app_content%}
<style>
    img{
        width: 61.8%;
    }
    #content{
        text-align:    center;
        align-content: center;
    }

</style>

<div id="content">
<img src="{{ url_for('video_feed') }}">

<h3>Mobilenet V2 Box Detection</h3>
<h5>This app demonstrates the MobileNetV2 Architecture. <br> You can read the paper for it <a href="https://arxiv.org/abs/1801.04381">here.</a></h5>

<form action = '/update_checkbox' method = "post" enctype = "multipart/form-data">
     <input type="submit" name="update" value="update" id="submit"></p>
     {% for item in labels %}
     <h5>{{ item }} <input type="checkbox" id="{{ item }}" name="{{ item }}" value="{{ item }}"></h5><br>
     {% endfor %}
</form>
</div>
{% endblock%}