<!-- Template for installing, uninstalling, and switching installed apps -->
{% extends "base.html" %}
{% block link %}
<a href="/view">📹</a>
{% endblock %}

{% block content %}
<hr>
<div id="install_app_div">
    <form action="/upload" method=post enctype="multipart/form-data">
        <input type=file name=file>
        <input type="submit" value="Upload application">
    </form>
</div>
<hr>
<div id="app_config_div" >
    <h5>Current running app: </h5> <p>{{ current_app }}</p>
    <h5>Installed apps:</h5>

    <form action = '/app_change_request' method = "post" enctype="multipart/form-data">
        {% for item in list_apps %}
            <p>{{ item }}<input type="submit" name="switch {{ item }}" value="Run" id="switch">
                <input type="submit" name="uninstall {{ item }}" value="Uninstall" id="uninstall"></p>
        {% endfor %}
    </form>



    <!--List installed apps and set active / uninstall specific apps -->
</div>


<hr>

<div id="update_div">
    {% if up_to_date == True %}
    <h5>System has latest updates.</h5>
    {% endif%}
    <form action="/update">
          <input type="submit" value="System update">
    </form>
</div>

<hr>

<div id="ir_settings_div">
    <h3>Night Vision</h3>
    {% if ir == True %}
        <form action="/IRtog">
            <input type="submit" value="Turn off">
        </form>
    {% else %}
        <form action="/IRtog">
            <input type="submit" value="Turn on">
        </form>
    {% endif %}

</div>
<hr>
<div id="power_settings_div">
    <h3>Device power</h3>
    <form action="/reboot">
        <input type="submit" value="Reboot" />
    </form>
    <form action="/power_off">
        <input type="submit" value="Power off" />
    </form>
</div>
<h5>Software build 0.1. Copyright 2020 Daniel P. Corcoran.</h5>
{% endblock %}

