<!-- Template for installing, uninstalling, and switching installed apps -->
{% extends "base.html" %}
{% block link %}
    <div id="netui_img">
    <img id=net_img src='static/webasset/img/load_mini.gif' style='width: 25px; visibility: hidden;'>

    </div>
<a href="/power_off">📴</a>
<a href="/reboot">🔃</a>
<!--<a href="IRtog">💡</a>-->

<a href="/{{ netui_dir }}" id="netui" onclick="loadicon()">📶</a>

<a href="/view">📹</a>
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="static/webasset/css/config.css">

    <img id=netui_img src='static/webasset/img/load_mini.gif' style='width: 25px; visibility: hidden;'>

<div id="install_app_div">
</div>
    {{ netui | safe }}

<hr>
<div id="app_config_div" >

    <h5>Currently running</h5>
    <div class="app-upload">
        <form id='install-form' action="/upload" method="POST" enctype="multipart/form-data">
            <img src="static/appstatic/icon/{{ current_app }}.png">
            <a href="/store"><img src="static/webasset/img/app_store.jpg"></a>

        </form>

    </div>


    <h5>Installed apps:</h5>

    <form action = '/app_change_request' method = "post" enctype="multipart/form-data">

        {% for item in list_apps %}
            <label for="uninstall-{{item}}">
                <img src="static/webasset/img/uninstall_app.png">
            </label>
            <input type="image" src="static/appstatic/icon/{{item}}.png" name="switch {{ item }}" id="switch">
            <div class = 'app-uninstall'>
                <input type="submit" name="uninstall {{ item }}" value="Uninstall" id="uninstall-{{item}}"></p>
            </div>
        {% endfor %}
    </form>
    <!--List installed apps and set active / uninstall specific apps -->


<hr>

<div id="update_div">
    {% if up_to_date == True %}
    <h5>System has latest updates.</h5>
    {% endif%}
    <form action="/update">
          <input type="submit" value="System update">
    </form>
</div>

<hr>
<p>Software build 0.3<br> Copyright 2020 Tree Camera, Inc.</p>
</div>
<script>
    function loadicon(){
        document.getElementById('netui_img').style.visibility = 'visible'
        document.getElementById('netui').innerHTML = document.getElementById('netui_img').innerHTML

    }



</script>






{% endblock %}


