<!DOCTYPE html>
<html>
<head>
    <title>Tree</title>
</head>

<body>
<h1>Waiting for new connection...</h1>
<script>
    function ifServerOnline(ifOnline, ifOffline)
    {
        var img = document.body.appendChild(document.createElement("img"));
        img.onload = function()
        {
            ifOnline && ifOnline.constructor == Function && ifOnline();
        };
        img.onerror = function()
        {
            ifOffline && ifOffline.constructor == Function && ifOffline();
        };
        img.src = "http://tree.local/static/webasset/img/ping.png";
    }

    function update()
    {
        ifServerOnline(function()
         {
            console.log("Online code");
            //  server online code here
         },
        function ()
        {
            console.log("Offline code");
            //  server offline code here
        });


    }
   setInterval (function() { update();}, 500);

</script>
</body>
